/*
WhoisFreaks API

Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting, IP Intelligence, Domain Reputation, and bulk database downloads.  ## Authentication All requests require an `apiKey` query parameter.  ## Resources - Docs: https://whoisfreaks.com/documentation - Billing: https://billing.whoisfreaks.com - Support: support@whoisfreaks.com 

API version: 1.0.0
Contact: support@whoisfreaks.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package whoisfreaks

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


type DatabasesIPSecurityAPI interface {

	/*
	DbIpSecurity IP Security Snapshot

	IP Security Snapshot. Returns the file/snapshot described by this operation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DatabasesIPSecurityAPIDbIpSecurityRequest
	*/
	DbIpSecurity(ctx context.Context) DatabasesIPSecurityAPIDbIpSecurityRequest

	// DbIpSecurityExecute executes the request
	//  @return *os.File
	DbIpSecurityExecute(r DatabasesIPSecurityAPIDbIpSecurityRequest) (*os.File, *http.Response, error)

	/*
	DbIpSecurityStatus IP Security Snapshot Status

	IP Security Snapshot Status. Returns the file/snapshot described by this operation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DatabasesIPSecurityAPIDbIpSecurityStatusRequest
	*/
	DbIpSecurityStatus(ctx context.Context) DatabasesIPSecurityAPIDbIpSecurityStatusRequest

	// DbIpSecurityStatusExecute executes the request
	//  @return SnapshotStatus
	DbIpSecurityStatusExecute(r DatabasesIPSecurityAPIDbIpSecurityStatusRequest) (*SnapshotStatus, *http.Response, error)
}

// DatabasesIPSecurityAPIService DatabasesIPSecurityAPI service
type DatabasesIPSecurityAPIService service

type DatabasesIPSecurityAPIDbIpSecurityRequest struct {
	ctx context.Context
	ApiService DatabasesIPSecurityAPI
	apiKey *string
	date *string
}

// Your WHOISFreaks API key
func (r DatabasesIPSecurityAPIDbIpSecurityRequest) ApiKey(apiKey string) DatabasesIPSecurityAPIDbIpSecurityRequest {
	r.apiKey = &apiKey
	return r
}

func (r DatabasesIPSecurityAPIDbIpSecurityRequest) Date(date string) DatabasesIPSecurityAPIDbIpSecurityRequest {
	r.date = &date
	return r
}

func (r DatabasesIPSecurityAPIDbIpSecurityRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.DbIpSecurityExecute(r)
}

/*
DbIpSecurity IP Security Snapshot

IP Security Snapshot. Returns the file/snapshot described by this operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DatabasesIPSecurityAPIDbIpSecurityRequest
*/
func (a *DatabasesIPSecurityAPIService) DbIpSecurity(ctx context.Context) DatabasesIPSecurityAPIDbIpSecurityRequest {
	return DatabasesIPSecurityAPIDbIpSecurityRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return *os.File
func (a *DatabasesIPSecurityAPIService) DbIpSecurityExecute(r DatabasesIPSecurityAPIDbIpSecurityRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatabasesIPSecurityAPIService.DbIpSecurity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3.3/download/snapshot/ip/security"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.date == nil {
		return localVarReturnValue, nil, reportError("date is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "date", r.date, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DatabasesIPSecurityAPIDbIpSecurityStatusRequest struct {
	ctx context.Context
	ApiService DatabasesIPSecurityAPI
	apiKey *string
}

// Your WHOISFreaks API key
func (r DatabasesIPSecurityAPIDbIpSecurityStatusRequest) ApiKey(apiKey string) DatabasesIPSecurityAPIDbIpSecurityStatusRequest {
	r.apiKey = &apiKey
	return r
}

func (r DatabasesIPSecurityAPIDbIpSecurityStatusRequest) Execute() (*SnapshotStatus, *http.Response, error) {
	return r.ApiService.DbIpSecurityStatusExecute(r)
}

/*
DbIpSecurityStatus IP Security Snapshot Status

IP Security Snapshot Status. Returns the file/snapshot described by this operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DatabasesIPSecurityAPIDbIpSecurityStatusRequest
*/
func (a *DatabasesIPSecurityAPIService) DbIpSecurityStatus(ctx context.Context) DatabasesIPSecurityAPIDbIpSecurityStatusRequest {
	return DatabasesIPSecurityAPIDbIpSecurityStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SnapshotStatus
func (a *DatabasesIPSecurityAPIService) DbIpSecurityStatusExecute(r DatabasesIPSecurityAPIDbIpSecurityStatusRequest) (*SnapshotStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SnapshotStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DatabasesIPSecurityAPIService.DbIpSecurityStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v3.3/status/snapshot/ip/security"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
