/*
WhoisFreaks API

Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting, IP Intelligence, Domain Reputation, and bulk database downloads.  ## Authentication All requests require an `apiKey` query parameter.  ## Resources - Docs: https://whoisfreaks.com/documentation - Billing: https://billing.whoisfreaks.com - Support: support@whoisfreaks.com 

API version: 1.0.0
Contact: support@whoisfreaks.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package whoisfreaks

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type IPWHOISAPI interface {

	/*
	IpWhois IP WHOIS Lookup

	WHOIS for an IP address. 1 credit.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return IPWHOISAPIIpWhoisRequest
	*/
	IpWhois(ctx context.Context) IPWHOISAPIIpWhoisRequest

	// IpWhoisExecute executes the request
	//  @return IpWhoisResponse
	IpWhoisExecute(r IPWHOISAPIIpWhoisRequest) (*IpWhoisResponse, *http.Response, error)
}

// IPWHOISAPIService IPWHOISAPI service
type IPWHOISAPIService service

type IPWHOISAPIIpWhoisRequest struct {
	ctx context.Context
	ApiService IPWHOISAPI
	ip *string
	format *string
}

func (r IPWHOISAPIIpWhoisRequest) Ip(ip string) IPWHOISAPIIpWhoisRequest {
	r.ip = &ip
	return r
}

func (r IPWHOISAPIIpWhoisRequest) Format(format string) IPWHOISAPIIpWhoisRequest {
	r.format = &format
	return r
}

func (r IPWHOISAPIIpWhoisRequest) Execute() (*IpWhoisResponse, *http.Response, error) {
	return r.ApiService.IpWhoisExecute(r)
}

/*
IpWhois IP WHOIS Lookup

WHOIS for an IP address. 1 credit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return IPWHOISAPIIpWhoisRequest
*/
func (a *IPWHOISAPIService) IpWhois(ctx context.Context) IPWHOISAPIIpWhoisRequest {
	return IPWHOISAPIIpWhoisRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return IpWhoisResponse
func (a *IPWHOISAPIService) IpWhoisExecute(r IPWHOISAPIIpWhoisRequest) (*IpWhoisResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *IpWhoisResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IPWHOISAPIService.IpWhois")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1.0/ip-whois"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ip == nil {
		return localVarReturnValue, nil, reportError("ip is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
