/*
WhoisFreaks API

Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting, IP Intelligence, Domain Reputation, and bulk database downloads.  ## Authentication All requests require an `apiKey` query parameter.  ## Resources - Docs: https://whoisfreaks.com/documentation - Billing: https://billing.whoisfreaks.com - Support: support@whoisfreaks.com 

API version: 1.0.0
Contact: support@whoisfreaks.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package whoisfreaks

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type DomainAvailabilityAPI interface {

	/*
	BulkDomainAvailabilityV2 Bulk Domain Availability Check

	Two bulk modes. Mode 1: POST domainNames array. Mode 2: POST tld array plus domain query param. Max 100 domains per request. 1 credit per domain checked.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DomainAvailabilityAPIBulkDomainAvailabilityV2Request
	*/
	BulkDomainAvailabilityV2(ctx context.Context) DomainAvailabilityAPIBulkDomainAvailabilityV2Request

	// BulkDomainAvailabilityV2Execute executes the request
	//  @return BulkDomainAvailabilityResponse
	BulkDomainAvailabilityV2Execute(r DomainAvailabilityAPIBulkDomainAvailabilityV2Request) (*BulkDomainAvailabilityResponse, *http.Response, error)

	/*
	DomainAvailabilityV2 Domain Availability Check with Suggestions

	Check availability of a single domain and optionally get suggestions across multiple TLDs. 1 credit per domain checked. sug=false checks only the queried domain; sug=true returns up to `count` (max 100) TLD suggestions.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DomainAvailabilityAPIDomainAvailabilityV2Request
	*/
	DomainAvailabilityV2(ctx context.Context) DomainAvailabilityAPIDomainAvailabilityV2Request

	// DomainAvailabilityV2Execute executes the request
	//  @return DomainAvailabilityResponse
	DomainAvailabilityV2Execute(r DomainAvailabilityAPIDomainAvailabilityV2Request) (*DomainAvailabilityResponse, *http.Response, error)
}

// DomainAvailabilityAPIService DomainAvailabilityAPI service
type DomainAvailabilityAPIService service

type DomainAvailabilityAPIBulkDomainAvailabilityV2Request struct {
	ctx context.Context
	ApiService DomainAvailabilityAPI
	apiKey *string
	bulkDomainAvailabilityRequest *BulkDomainAvailabilityRequest
	domain *string
	format *string
}

// Your WHOISFreaks API key
func (r DomainAvailabilityAPIBulkDomainAvailabilityV2Request) ApiKey(apiKey string) DomainAvailabilityAPIBulkDomainAvailabilityV2Request {
	r.apiKey = &apiKey
	return r
}

func (r DomainAvailabilityAPIBulkDomainAvailabilityV2Request) BulkDomainAvailabilityRequest(bulkDomainAvailabilityRequest BulkDomainAvailabilityRequest) DomainAvailabilityAPIBulkDomainAvailabilityV2Request {
	r.bulkDomainAvailabilityRequest = &bulkDomainAvailabilityRequest
	return r
}

// Required for TLD-mode bulk check (base domain).
func (r DomainAvailabilityAPIBulkDomainAvailabilityV2Request) Domain(domain string) DomainAvailabilityAPIBulkDomainAvailabilityV2Request {
	r.domain = &domain
	return r
}

func (r DomainAvailabilityAPIBulkDomainAvailabilityV2Request) Format(format string) DomainAvailabilityAPIBulkDomainAvailabilityV2Request {
	r.format = &format
	return r
}

func (r DomainAvailabilityAPIBulkDomainAvailabilityV2Request) Execute() (*BulkDomainAvailabilityResponse, *http.Response, error) {
	return r.ApiService.BulkDomainAvailabilityV2Execute(r)
}

/*
BulkDomainAvailabilityV2 Bulk Domain Availability Check

Two bulk modes. Mode 1: POST domainNames array. Mode 2: POST tld array plus domain query param. Max 100 domains per request. 1 credit per domain checked.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DomainAvailabilityAPIBulkDomainAvailabilityV2Request
*/
func (a *DomainAvailabilityAPIService) BulkDomainAvailabilityV2(ctx context.Context) DomainAvailabilityAPIBulkDomainAvailabilityV2Request {
	return DomainAvailabilityAPIBulkDomainAvailabilityV2Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BulkDomainAvailabilityResponse
func (a *DomainAvailabilityAPIService) BulkDomainAvailabilityV2Execute(r DomainAvailabilityAPIBulkDomainAvailabilityV2Request) (*BulkDomainAvailabilityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkDomainAvailabilityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainAvailabilityAPIService.BulkDomainAvailabilityV2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.0/domain/availability"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.bulkDomainAvailabilityRequest == nil {
		return localVarReturnValue, nil, reportError("bulkDomainAvailabilityRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	if r.domain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "form", "")
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkDomainAvailabilityRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DomainAvailabilityAPIDomainAvailabilityV2Request struct {
	ctx context.Context
	ApiService DomainAvailabilityAPI
	apiKey *string
	domain *string
	sug *bool
	count *int32
	format *string
}

// Your WHOISFreaks API key
func (r DomainAvailabilityAPIDomainAvailabilityV2Request) ApiKey(apiKey string) DomainAvailabilityAPIDomainAvailabilityV2Request {
	r.apiKey = &apiKey
	return r
}

// The domain name to check
func (r DomainAvailabilityAPIDomainAvailabilityV2Request) Domain(domain string) DomainAvailabilityAPIDomainAvailabilityV2Request {
	r.domain = &domain
	return r
}

// Whether to return TLD suggestions alongside the queried domain.
func (r DomainAvailabilityAPIDomainAvailabilityV2Request) Sug(sug bool) DomainAvailabilityAPIDomainAvailabilityV2Request {
	r.sug = &sug
	return r
}

// Number of TLD suggestions to return when sug&#x3D;true. Maximum is 100.
func (r DomainAvailabilityAPIDomainAvailabilityV2Request) Count(count int32) DomainAvailabilityAPIDomainAvailabilityV2Request {
	r.count = &count
	return r
}

func (r DomainAvailabilityAPIDomainAvailabilityV2Request) Format(format string) DomainAvailabilityAPIDomainAvailabilityV2Request {
	r.format = &format
	return r
}

func (r DomainAvailabilityAPIDomainAvailabilityV2Request) Execute() (*DomainAvailabilityResponse, *http.Response, error) {
	return r.ApiService.DomainAvailabilityV2Execute(r)
}

/*
DomainAvailabilityV2 Domain Availability Check with Suggestions

Check availability of a single domain and optionally get suggestions across multiple TLDs. 1 credit per domain checked. sug=false checks only the queried domain; sug=true returns up to `count` (max 100) TLD suggestions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DomainAvailabilityAPIDomainAvailabilityV2Request
*/
func (a *DomainAvailabilityAPIService) DomainAvailabilityV2(ctx context.Context) DomainAvailabilityAPIDomainAvailabilityV2Request {
	return DomainAvailabilityAPIDomainAvailabilityV2Request{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DomainAvailabilityResponse
func (a *DomainAvailabilityAPIService) DomainAvailabilityV2Execute(r DomainAvailabilityAPIDomainAvailabilityV2Request) (*DomainAvailabilityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DomainAvailabilityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DomainAvailabilityAPIService.DomainAvailabilityV2")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.0/domain/availability"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.domain == nil {
		return localVarReturnValue, nil, reportError("domain is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "form", "")
	if r.sug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sug", r.sug, "form", "")
	} else {
		var defaultValue bool = false
		r.sug = &defaultValue
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "form", "")
	} else {
		var defaultValue int32 = 5
		r.count = &defaultValue
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
