/*
WhoisFreaks API

Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting, IP Intelligence, Domain Reputation, and bulk database downloads.  ## Authentication All requests require an `apiKey` query parameter.  ## Resources - Docs: https://whoisfreaks.com/documentation - Billing: https://billing.whoisfreaks.com - Support: support@whoisfreaks.com 

API version: 1.0.0
Contact: support@whoisfreaks.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package whoisfreaks

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type SubdomainsAPI interface {

	/*
	Subdomains Subdomains Lookup

	All subdomains including nested. 2 credits per query.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SubdomainsAPISubdomainsRequest
	*/
	Subdomains(ctx context.Context) SubdomainsAPISubdomainsRequest

	// SubdomainsExecute executes the request
	//  @return SubdomainsResponse
	SubdomainsExecute(r SubdomainsAPISubdomainsRequest) (*SubdomainsResponse, *http.Response, error)
}

// SubdomainsAPIService SubdomainsAPI service
type SubdomainsAPIService service

type SubdomainsAPISubdomainsRequest struct {
	ctx context.Context
	ApiService SubdomainsAPI
	apiKey *string
	domain *string
	after *string
	before *string
	status *string
	page *int32
	format *string
}

// Your WHOISFreaks API key
func (r SubdomainsAPISubdomainsRequest) ApiKey(apiKey string) SubdomainsAPISubdomainsRequest {
	r.apiKey = &apiKey
	return r
}

func (r SubdomainsAPISubdomainsRequest) Domain(domain string) SubdomainsAPISubdomainsRequest {
	r.domain = &domain
	return r
}

func (r SubdomainsAPISubdomainsRequest) After(after string) SubdomainsAPISubdomainsRequest {
	r.after = &after
	return r
}

func (r SubdomainsAPISubdomainsRequest) Before(before string) SubdomainsAPISubdomainsRequest {
	r.before = &before
	return r
}

func (r SubdomainsAPISubdomainsRequest) Status(status string) SubdomainsAPISubdomainsRequest {
	r.status = &status
	return r
}

func (r SubdomainsAPISubdomainsRequest) Page(page int32) SubdomainsAPISubdomainsRequest {
	r.page = &page
	return r
}

func (r SubdomainsAPISubdomainsRequest) Format(format string) SubdomainsAPISubdomainsRequest {
	r.format = &format
	return r
}

func (r SubdomainsAPISubdomainsRequest) Execute() (*SubdomainsResponse, *http.Response, error) {
	return r.ApiService.SubdomainsExecute(r)
}

/*
Subdomains Subdomains Lookup

All subdomains including nested. 2 credits per query.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SubdomainsAPISubdomainsRequest
*/
func (a *SubdomainsAPIService) Subdomains(ctx context.Context) SubdomainsAPISubdomainsRequest {
	return SubdomainsAPISubdomainsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SubdomainsResponse
func (a *SubdomainsAPIService) SubdomainsExecute(r SubdomainsAPISubdomainsRequest) (*SubdomainsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubdomainsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubdomainsAPIService.Subdomains")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1.0/subdomains"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.domain == nil {
		return localVarReturnValue, nil, reportError("domain is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "domain", r.domain, "form", "")
	if r.after != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "after", r.after, "form", "")
	}
	if r.before != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "before", r.before, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
