/*
WhoisFreaks API

Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting, IP Intelligence, Domain Reputation, and bulk database downloads.  ## Authentication All requests require an `apiKey` query parameter.  ## Resources - Docs: https://whoisfreaks.com/documentation - Billing: https://billing.whoisfreaks.com - Support: support@whoisfreaks.com 

API version: 1.0.0
Contact: support@whoisfreaks.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package whoisfreaks

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type SSLAPI interface {

	/*
	SslLookup SSL Certificate Lookup

	Real-time SSL cert with optional chain.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SSLAPISslLookupRequest
	*/
	SslLookup(ctx context.Context) SSLAPISslLookupRequest

	// SslLookupExecute executes the request
	//  @return SslResponse
	SslLookupExecute(r SSLAPISslLookupRequest) (*SslResponse, *http.Response, error)
}

// SSLAPIService SSLAPI service
type SSLAPIService service

type SSLAPISslLookupRequest struct {
	ctx context.Context
	ApiService SSLAPI
	apiKey *string
	domainName *string
	chain *bool
	sslRaw *bool
	format *string
}

// Your WHOISFreaks API key
func (r SSLAPISslLookupRequest) ApiKey(apiKey string) SSLAPISslLookupRequest {
	r.apiKey = &apiKey
	return r
}

func (r SSLAPISslLookupRequest) DomainName(domainName string) SSLAPISslLookupRequest {
	r.domainName = &domainName
	return r
}

func (r SSLAPISslLookupRequest) Chain(chain bool) SSLAPISslLookupRequest {
	r.chain = &chain
	return r
}

func (r SSLAPISslLookupRequest) SslRaw(sslRaw bool) SSLAPISslLookupRequest {
	r.sslRaw = &sslRaw
	return r
}

func (r SSLAPISslLookupRequest) Format(format string) SSLAPISslLookupRequest {
	r.format = &format
	return r
}

func (r SSLAPISslLookupRequest) Execute() (*SslResponse, *http.Response, error) {
	return r.ApiService.SslLookupExecute(r)
}

/*
SslLookup SSL Certificate Lookup

Real-time SSL cert with optional chain.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SSLAPISslLookupRequest
*/
func (a *SSLAPIService) SslLookup(ctx context.Context) SSLAPISslLookupRequest {
	return SSLAPISslLookupRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SslResponse
func (a *SSLAPIService) SslLookupExecute(r SSLAPISslLookupRequest) (*SslResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SslResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SSLAPIService.SslLookup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1.0/ssl/live"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.domainName == nil {
		return localVarReturnValue, nil, reportError("domainName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "domainName", r.domainName, "form", "")
	if r.chain != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chain", r.chain, "form", "")
	} else {
		var defaultValue bool = false
		r.chain = &defaultValue
	}
	if r.sslRaw != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sslRaw", r.sslRaw, "form", "")
	} else {
		var defaultValue bool = false
		r.sslRaw = &defaultValue
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
