/*
WhoisFreaks API

Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting, IP Intelligence, Domain Reputation, and bulk database downloads.  ## Authentication All requests require an `apiKey` query parameter.  ## Resources - Docs: https://whoisfreaks.com/documentation - Billing: https://billing.whoisfreaks.com - Support: support@whoisfreaks.com 

API version: 1.0.0
Contact: support@whoisfreaks.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package whoisfreaks

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type DNSAPI interface {

	/*
	DnsBulk Bulk DNS Lookup

	Up to 100 domains + 100 IPs in one request.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DNSAPIDnsBulkRequest
	*/
	DnsBulk(ctx context.Context) DNSAPIDnsBulkRequest

	// DnsBulkExecute executes the request
	//  @return BulkDnsResponse
	DnsBulkExecute(r DNSAPIDnsBulkRequest) (*BulkDnsResponse, *http.Response, error)

	/*
	DnsHistorical Historical DNS Lookup

	All historical DNS records. 2 credits per page (100 records/page).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DNSAPIDnsHistoricalRequest
	*/
	DnsHistorical(ctx context.Context) DNSAPIDnsHistoricalRequest

	// DnsHistoricalExecute executes the request
	//  @return HistoricalDnsResponse
	DnsHistoricalExecute(r DNSAPIDnsHistoricalRequest) (*HistoricalDnsResponse, *http.Response, error)

	/*
	DnsLive Live DNS Lookup

	Real-time DNS record lookup. 1 credit per query.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DNSAPIDnsLiveRequest
	*/
	DnsLive(ctx context.Context) DNSAPIDnsLiveRequest

	// DnsLiveExecute executes the request
	//  @return DnsResponse
	DnsLiveExecute(r DNSAPIDnsLiveRequest) (*DnsResponse, *http.Response, error)

	/*
	DnsReverse Reverse DNS Lookup

	Search domains by IP or DNS value. 5 credits per page.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return DNSAPIDnsReverseRequest
	*/
	DnsReverse(ctx context.Context) DNSAPIDnsReverseRequest

	// DnsReverseExecute executes the request
	//  @return ReverseDnsResponse
	DnsReverseExecute(r DNSAPIDnsReverseRequest) (*ReverseDnsResponse, *http.Response, error)
}

// DNSAPIService DNSAPI service
type DNSAPIService service

type DNSAPIDnsBulkRequest struct {
	ctx context.Context
	ApiService DNSAPI
	apiKey *string
	type_ *string
	dnsBulkRequest *DnsBulkRequest
	format *string
}

// Your WHOISFreaks API key
func (r DNSAPIDnsBulkRequest) ApiKey(apiKey string) DNSAPIDnsBulkRequest {
	r.apiKey = &apiKey
	return r
}

func (r DNSAPIDnsBulkRequest) Type_(type_ string) DNSAPIDnsBulkRequest {
	r.type_ = &type_
	return r
}

func (r DNSAPIDnsBulkRequest) DnsBulkRequest(dnsBulkRequest DnsBulkRequest) DNSAPIDnsBulkRequest {
	r.dnsBulkRequest = &dnsBulkRequest
	return r
}

func (r DNSAPIDnsBulkRequest) Format(format string) DNSAPIDnsBulkRequest {
	r.format = &format
	return r
}

func (r DNSAPIDnsBulkRequest) Execute() (*BulkDnsResponse, *http.Response, error) {
	return r.ApiService.DnsBulkExecute(r)
}

/*
DnsBulk Bulk DNS Lookup

Up to 100 domains + 100 IPs in one request.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DNSAPIDnsBulkRequest
*/
func (a *DNSAPIService) DnsBulk(ctx context.Context) DNSAPIDnsBulkRequest {
	return DNSAPIDnsBulkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BulkDnsResponse
func (a *DNSAPIService) DnsBulkExecute(r DNSAPIDnsBulkRequest) (*BulkDnsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BulkDnsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DNSAPIService.DnsBulk")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.0/dns/bulk/live"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}
	if r.dnsBulkRequest == nil {
		return localVarReturnValue, nil, reportError("dnsBulkRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dnsBulkRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DNSAPIDnsHistoricalRequest struct {
	ctx context.Context
	ApiService DNSAPI
	apiKey *string
	domainName *string
	type_ *string
	page *int32
	format *string
}

// Your WHOISFreaks API key
func (r DNSAPIDnsHistoricalRequest) ApiKey(apiKey string) DNSAPIDnsHistoricalRequest {
	r.apiKey = &apiKey
	return r
}

func (r DNSAPIDnsHistoricalRequest) DomainName(domainName string) DNSAPIDnsHistoricalRequest {
	r.domainName = &domainName
	return r
}

func (r DNSAPIDnsHistoricalRequest) Type_(type_ string) DNSAPIDnsHistoricalRequest {
	r.type_ = &type_
	return r
}

func (r DNSAPIDnsHistoricalRequest) Page(page int32) DNSAPIDnsHistoricalRequest {
	r.page = &page
	return r
}

func (r DNSAPIDnsHistoricalRequest) Format(format string) DNSAPIDnsHistoricalRequest {
	r.format = &format
	return r
}

func (r DNSAPIDnsHistoricalRequest) Execute() (*HistoricalDnsResponse, *http.Response, error) {
	return r.ApiService.DnsHistoricalExecute(r)
}

/*
DnsHistorical Historical DNS Lookup

All historical DNS records. 2 credits per page (100 records/page).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DNSAPIDnsHistoricalRequest
*/
func (a *DNSAPIService) DnsHistorical(ctx context.Context) DNSAPIDnsHistoricalRequest {
	return DNSAPIDnsHistoricalRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return HistoricalDnsResponse
func (a *DNSAPIService) DnsHistoricalExecute(r DNSAPIDnsHistoricalRequest) (*HistoricalDnsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *HistoricalDnsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DNSAPIService.DnsHistorical")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.0/dns/historical"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.domainName == nil {
		return localVarReturnValue, nil, reportError("domainName is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "domainName", r.domainName, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DNSAPIDnsLiveRequest struct {
	ctx context.Context
	ApiService DNSAPI
	apiKey *string
	type_ *string
	domainName *string
	ipAddress *string
	format *string
}

// Your WHOISFreaks API key
func (r DNSAPIDnsLiveRequest) ApiKey(apiKey string) DNSAPIDnsLiveRequest {
	r.apiKey = &apiKey
	return r
}

// all or comma-separated: A,MX,NS,TXT,SOA,SPF,AAAA,CNAME
func (r DNSAPIDnsLiveRequest) Type_(type_ string) DNSAPIDnsLiveRequest {
	r.type_ = &type_
	return r
}

func (r DNSAPIDnsLiveRequest) DomainName(domainName string) DNSAPIDnsLiveRequest {
	r.domainName = &domainName
	return r
}

// Use for PTR lookups
func (r DNSAPIDnsLiveRequest) IpAddress(ipAddress string) DNSAPIDnsLiveRequest {
	r.ipAddress = &ipAddress
	return r
}

func (r DNSAPIDnsLiveRequest) Format(format string) DNSAPIDnsLiveRequest {
	r.format = &format
	return r
}

func (r DNSAPIDnsLiveRequest) Execute() (*DnsResponse, *http.Response, error) {
	return r.ApiService.DnsLiveExecute(r)
}

/*
DnsLive Live DNS Lookup

Real-time DNS record lookup. 1 credit per query.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DNSAPIDnsLiveRequest
*/
func (a *DNSAPIService) DnsLive(ctx context.Context) DNSAPIDnsLiveRequest {
	return DNSAPIDnsLiveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DnsResponse
func (a *DNSAPIService) DnsLiveExecute(r DNSAPIDnsLiveRequest) (*DnsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DnsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DNSAPIService.DnsLive")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.0/dns/live"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	if r.domainName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domainName", r.domainName, "form", "")
	}
	if r.ipAddress != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ipAddress", r.ipAddress, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DNSAPIDnsReverseRequest struct {
	ctx context.Context
	ApiService DNSAPI
	apiKey *string
	value *string
	type_ *string
	exact *bool
	page *int32
	format *string
}

// Your WHOISFreaks API key
func (r DNSAPIDnsReverseRequest) ApiKey(apiKey string) DNSAPIDnsReverseRequest {
	r.apiKey = &apiKey
	return r
}

// IP, CIDR, or record value
func (r DNSAPIDnsReverseRequest) Value(value string) DNSAPIDnsReverseRequest {
	r.value = &value
	return r
}

func (r DNSAPIDnsReverseRequest) Type_(type_ string) DNSAPIDnsReverseRequest {
	r.type_ = &type_
	return r
}

func (r DNSAPIDnsReverseRequest) Exact(exact bool) DNSAPIDnsReverseRequest {
	r.exact = &exact
	return r
}

func (r DNSAPIDnsReverseRequest) Page(page int32) DNSAPIDnsReverseRequest {
	r.page = &page
	return r
}

func (r DNSAPIDnsReverseRequest) Format(format string) DNSAPIDnsReverseRequest {
	r.format = &format
	return r
}

func (r DNSAPIDnsReverseRequest) Execute() (*ReverseDnsResponse, *http.Response, error) {
	return r.ApiService.DnsReverseExecute(r)
}

/*
DnsReverse Reverse DNS Lookup

Search domains by IP or DNS value. 5 credits per page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DNSAPIDnsReverseRequest
*/
func (a *DNSAPIService) DnsReverse(ctx context.Context) DNSAPIDnsReverseRequest {
	return DNSAPIDnsReverseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReverseDnsResponse
func (a *DNSAPIService) DnsReverseExecute(r DNSAPIDnsReverseRequest) (*ReverseDnsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReverseDnsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DNSAPIService.DnsReverse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v2.1/dns/reverse"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.apiKey == nil {
		return localVarReturnValue, nil, reportError("apiKey is required and must be specified")
	}
	if r.value == nil {
		return localVarReturnValue, nil, reportError("value is required and must be specified")
	}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "apiKey", r.apiKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "value", r.value, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	if r.exact != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exact", r.exact, "form", "")
	} else {
		var defaultValue bool = true
		r.exact = &defaultValue
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		r.page = &defaultValue
	}
	if r.format != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "format", r.format, "form", "")
	} else {
		var defaultValue string = "json"
		r.format = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apiKey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
