openapi: 3.0.3
info:
  contact:
    email: support@whoisfreaks.com
    name: WhoisFreaks Support
    url: https://whoisfreaks.com
  description: |
    Complete WhoisFreaks API — WHOIS, DNS, SSL, Geolocation, Typosquatting,
    IP Intelligence, Domain Reputation, and bulk database downloads.

    ## Authentication
    All requests require an `apiKey` query parameter.

    ## Resources
    - Docs: https://whoisfreaks.com/documentation
    - Billing: https://billing.whoisfreaks.com
    - Support: support@whoisfreaks.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: WhoisFreaks API
  version: 1.0.0
servers:
- description: API Solutions (live lookups)
  url: https://api.whoisfreaks.com
- description: Database file downloads
  url: https://files.whoisfreaks.com
security:
- ApiKeyAuth: []
tags:
- description: "WHOIS lookup APIs (live, historical, reverse, bulk)"
  name: WHOIS
- description: "DNS lookup APIs (live, historical, reverse, bulk)"
  name: DNS
- description: Check domain availability
  name: Domain Availability
- description: Detect typo variants of brand domains
  name: Typosquatting
- description: SSL certificate lookup
  name: SSL
- description: IP geolocation lookup
  name: Geolocation
- description: Subdomain enumeration
  name: Subdomains
- description: IP threat intelligence
  name: IP Reputation
- description: Real-time domain threat assessment and trust scoring
  name: Domain Reputation
- description: Autonomous System Number WHOIS
  name: ASN WHOIS
- description: IP address WHOIS
  name: IP WHOIS
- description: "Account, API key, and usage utilities"
  name: Account
- description: Newly registered domain downloads
  name: Databases - Newly Registered
- description: Expiring and dropped domain downloads
  name: Databases - Expiring & Dropped
- description: WHOIS database snapshots
  name: Databases - WHOIS
- description: DNS database snapshots
  name: Databases - DNS
- description: Subdomain database snapshots
  name: Databases - Subdomains
- description: IP geolocation database snapshots
  name: Databases - IP Geolocation
- description: ASN WHOIS database snapshots
  name: Databases - ASN WHOIS
- description: IP WHOIS database snapshots
  name: Databases - IP WHOIS
- description: IP security database snapshots
  name: Databases - IP Security
paths:
  /v2.0/whois/live:
    get:
      description: Real-time WHOIS lookup from authoritative servers. Cost 1 credit.
      operationId: whoisLive
      parameters:
      - example: whoisfreaks.com
        explode: true
        in: query
        name: domainName
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisResponse'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
      summary: Live WHOIS Lookup
      tags:
      - WHOIS
  /v2.0/bulkwhois/live:
    post:
      description: Up to 100 domains in one request. 1 credit per successful domain.
      operationId: bulkWhois
      parameters:
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkWhois_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkWhoisResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Bulk WHOIS Lookup
      tags:
      - WHOIS
  /v2.0/dns/live:
    get:
      description: Real-time DNS record lookup. 1 credit per query.
      operationId: dnsLive
      parameters:
      - explode: true
        in: query
        name: domainName
        required: false
        schema:
          type: string
        style: form
      - description: Use for PTR lookups
        explode: true
        in: query
        name: ipAddress
        required: false
        schema:
          type: string
        style: form
      - description: "all or comma-separated: A,MX,NS,TXT,SOA,SPF,AAAA,CNAME"
        explode: true
        in: query
        name: type
        required: true
        schema:
          default: all
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsResponse'
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid API key
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
      summary: Live DNS Lookup
      tags:
      - DNS
  /v2.0/dns/historical:
    get:
      description: All historical DNS records. 2 credits per page (100 records/page).
      operationId: dnsHistorical
      parameters:
      - explode: true
        in: query
        name: domainName
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: true
        schema:
          default: all
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalDnsResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Historical DNS Lookup
      tags:
      - DNS
  /v2.1/dns/reverse:
    get:
      description: Search domains by IP or DNS value. 5 credits per page.
      operationId: dnsReverse
      parameters:
      - description: "IP, CIDR, or record value"
        explode: true
        in: query
        name: value
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - a
          - mx
          - cname
          - ns
          - aaaa
          - txt
          - soa
          type: string
        style: form
      - explode: true
        in: query
        name: exact
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseDnsResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Reverse DNS Lookup
      tags:
      - DNS
  /v2.0/dns/bulk/live:
    post:
      description: Up to 100 domains + 100 IPs in one request.
      operationId: dnsBulk
      parameters:
      - explode: true
        in: query
        name: type
        required: true
        schema:
          default: all
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dnsBulk_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDnsResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Bulk DNS Lookup
      tags:
      - DNS
  /v2.0/domain/availability:
    get:
      description: Check availability of a single domain and optionally get suggestions
        across multiple TLDs. 1 credit per domain checked. sug=false checks only the
        queried domain; sug=true returns up to `count` (max 100) TLD suggestions.
      operationId: domainAvailabilityV2
      parameters:
      - description: The domain name to check
        example: google.com
        explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - description: Whether to return TLD suggestions alongside the queried domain.
        explode: true
        in: query
        name: sug
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Number of TLD suggestions to return when sug=true. Maximum is
          100.
        explode: true
        in: query
        name: count
        required: false
        schema:
          default: 5
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailabilityResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid API key
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
      summary: Domain Availability Check with Suggestions
      tags:
      - Domain Availability
    post:
      description: "Two bulk modes. Mode 1: POST domainNames array. Mode 2: POST tld\
        \ array plus domain query param. Max 100 domains per request. 1 credit per\
        \ domain checked."
      operationId: bulkDomainAvailabilityV2
      parameters:
      - description: Required for TLD-mode bulk check (base domain).
        example: google.com
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDomainAvailabilityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDomainAvailabilityResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid API key
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
      summary: Bulk Domain Availability Check
      tags:
      - Domain Availability
  /v3.0/domain/typos:
    get:
      description: Find typo variants of a brand. 5 credits per page.
      operationId: typosquatting
      parameters:
      - explode: true
        in: query
        name: keyword
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pattern
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: pageToken
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TyposquattingResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid API key
      summary: Typosquatting Lookup
      tags:
      - Typosquatting
  /v1.0/ssl/live:
    get:
      description: Real-time SSL cert with optional chain.
      operationId: sslLookup
      parameters:
      - explode: true
        in: query
        name: domainName
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: chain
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: sslRaw
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SslResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: SSL Certificate Lookup
      tags:
      - SSL
  /v1.0/geolocation:
    get:
      description: "Get location, ASN, currency for an IP. 1 credit."
      operationId: geolocation
      parameters:
      - explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeolocationResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP Geolocation Lookup
      tags:
      - Geolocation
    post:
      description: Up to 100 IPs.
      operationId: bulkGeolocation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkGeolocation_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/GeolocationResponse'
                type: array
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Bulk IP Geolocation
      tags:
      - Geolocation
  /v1.0/subdomains:
    get:
      description: All subdomains including nested. 2 credits per query.
      operationId: subdomains
      parameters:
      - explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: before
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - active
          - inactive
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubdomainsResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Subdomains Lookup
      tags:
      - Subdomains
  /v1.0/security:
    get:
      description: "Threat intel for IP — VPN, proxy, Tor, bots. 1 credit."
      operationId: ipReputation
      parameters:
      - explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpReputationResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP Reputation Lookup
      tags:
      - IP Reputation
    post:
      description: Up to 100 IPs.
      operationId: bulkIpReputation
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bulkGeolocation_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/IpReputationResponse'
                type: array
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Bulk IP Reputation
      tags:
      - IP Reputation
  /v1/domain/security:
    get:
      description: "Real-time domain threat assessment. Returns risk verdict, trust\
        \ score, DGA analysis, threat intelligence matches, and security signals.\
        \ 1 credit."
      operationId: domainReputation
      parameters:
      - description: The domain name to assess
        example: amazon.com
        explode: true
        in: query
        name: domainName
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainReputationResponse'
          description: Successful response
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Invalid API key
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
      summary: Domain Reputation Lookup
      tags:
      - Domain Reputation
  /v2.0/asn-whois:
    get:
      description: WHOIS for an ASN. 1 credit.
      operationId: asnWhois
      parameters:
      - example: as15169
        explode: true
        in: query
        name: asn
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsnWhoisResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: ASN WHOIS Lookup
      tags:
      - ASN WHOIS
  /v1.0/ip-whois:
    get:
      description: WHOIS for an IP address. 1 credit.
      operationId: ipWhois
      parameters:
      - explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpWhoisResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP WHOIS Lookup
      tags:
      - IP WHOIS
  /v1.0/api-key/rotate:
    get:
      description: Rotate API Key. Returns the file/snapshot described by this operation.
      operationId: rotateApiKey
      parameters: []
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: Key rotated
        "401":
          content:
            text/plain:
              schema:
                type: string
          description: Not allowed
      summary: Rotate API Key
      tags:
      - Account
  /v1.0/whoisapi/usage:
    get:
      description: Account Usage. Returns the file/snapshot described by this operation.
      operationId: accountUsage
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUsageResponse'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Account Usage
      tags:
      - Account
  /v3.3/status:
    get:
      description: No API key required. Returns freshness of all downloadable files.
      operationId: databaseFileStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseFileStatus'
          description: Successful response
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
      security: []
      summary: Database File Status (Public)
      tags:
      - Account
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/gtld:
    get:
      description: Newly Registered gTLD (CSV). Returns the file/snapshot described
        by this operation.
      operationId: dbNewlyGtld
      parameters:
      - explode: true
        in: query
        name: whois
        required: true
        schema:
          type: boolean
        style: form
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: tlds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Newly Registered gTLD (CSV)
      tags:
      - Databases - Newly Registered
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/cctld:
    get:
      description: Newly Registered ccTLD (CSV). Returns the file/snapshot described
        by this operation.
      operationId: dbNewlyCctld
      parameters:
      - explode: true
        in: query
        name: whois
        required: true
        schema:
          type: boolean
        style: form
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: tlds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Newly Registered ccTLD (CSV)
      tags:
      - Databases - Newly Registered
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/gtld/cleaned:
    get:
      description: Newly Registered gTLD Cleaned WHOIS (CSV). Returns the file/snapshot
        described by this operation.
      operationId: dbNewlyGtldCleaned
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Newly Registered gTLD Cleaned WHOIS (CSV)
      tags:
      - Databases - Newly Registered
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/cctld/cleaned:
    get:
      description: Newly Registered ccTLD Cleaned WHOIS (CSV). Returns the file/snapshot
        described by this operation.
      operationId: dbNewlyCctldCleaned
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Newly Registered ccTLD Cleaned WHOIS (CSV)
      tags:
      - Databases - Newly Registered
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/domains/newly/gtld:
    get:
      description: Newly Registered gTLD (JSON). Returns the file/snapshot described
        by this operation.
      operationId: dbNewlyGtldJson
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: tlds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: JSON array of domains
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Newly Registered gTLD (JSON)
      tags:
      - Databases - Newly Registered
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/domains/newly/cctld:
    get:
      description: Newly Registered ccTLD (JSON). Returns the file/snapshot described
        by this operation.
      operationId: dbNewlyCctldJson
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: tlds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: JSON array of domains
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Newly Registered ccTLD (JSON)
      tags:
      - Databases - Newly Registered
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/newly/dns:
    get:
      description: Newly Registered With DNS. Returns the file/snapshot described
        by this operation.
      operationId: dbNewlyDns
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: JSON array of domains with DNS
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Newly Registered With DNS
      tags:
      - Databases - Newly Registered
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/expired:
    get:
      description: Expiring Domains. Returns the file/snapshot described by this operation.
      operationId: dbExpired
      parameters:
      - explode: true
        in: query
        name: whois
        required: true
        schema:
          type: boolean
        style: form
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Expiring Domains
      tags:
      - Databases - Expiring & Dropped
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/expired/cleaned:
    get:
      description: Expiring Cleaned WHOIS. Returns the file/snapshot described by
        this operation.
      operationId: dbExpiredCleaned
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Expiring Cleaned WHOIS
      tags:
      - Databases - Expiring & Dropped
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/download/domainer/dropped:
    get:
      description: Dropped Domains. Returns the file/snapshot described by this operation.
      operationId: dbDropped
      parameters:
      - explode: true
        in: query
        name: whois
        required: true
        schema:
          type: boolean
        style: form
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Dropped Domains
      tags:
      - Databases - Expiring & Dropped
    servers:
    - url: https://files.whoisfreaks.com
  /v3.1/domains/dropped:
    get:
      description: Dropped Domains (JSON). Returns the file/snapshot described by
        this operation.
      operationId: dbDroppedJson
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      - explode: true
        in: query
        name: tlds
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
          description: JSON array of domains
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Dropped Domains (JSON)
      tags:
      - Databases - Expiring & Dropped
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/domainer/dropped/backlinks:
    get:
      description: Dropped With Backlinks. Returns the file/snapshot described by
        this operation.
      operationId: dbDroppedBacklinks
      parameters:
      - explode: true
        in: query
        name: whois
        required: false
        schema:
          type: boolean
        style: form
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Dropped With Backlinks
      tags:
      - Databases - Expiring & Dropped
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/dbupdate/daily/domains/whois:
    get:
      description: WHOIS Database Daily. Returns the file/snapshot described by this
        operation.
      operationId: dbWhoisDaily
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: WHOIS Database Daily
      tags:
      - Databases - WHOIS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/dbupdate/weekly/domains/whois:
    get:
      description: WHOIS Database Weekly. Returns the file/snapshot described by this
        operation.
      operationId: dbWhoisWeekly
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: WHOIS Database Weekly
      tags:
      - Databases - WHOIS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/dbupdate/monthly/domains/whois:
    get:
      description: WHOIS Database Monthly. Returns the file/snapshot described by
        this operation.
      operationId: dbWhoisMonthly
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: WHOIS Database Monthly
      tags:
      - Databases - WHOIS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.2/download/dbupdate/daily/dns:
    get:
      description: DNS Database Daily. Returns the file/snapshot described by this
        operation.
      operationId: dbDnsDaily
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: DNS Database Daily
      tags:
      - Databases - DNS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.2/download/dbupdate/weekly/dns:
    get:
      description: DNS Database Weekly. Returns the file/snapshot described by this
        operation.
      operationId: dbDnsWeekly
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: DNS Database Weekly
      tags:
      - Databases - DNS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.2/download/dbupdate/monthly/dns:
    get:
      description: DNS Database Monthly. Returns the file/snapshot described by this
        operation.
      operationId: dbDnsMonthly
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: DNS Database Monthly
      tags:
      - Databases - DNS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.2/download/dbupdate/daily/subdomains:
    get:
      description: Subdomains Daily. Returns the file/snapshot described by this operation.
      operationId: dbSubdomainsDaily
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Subdomains Daily
      tags:
      - Databases - Subdomains
    servers:
    - url: https://files.whoisfreaks.com
  /v3.2/download/dbupdate/weekly/subdomains:
    get:
      description: Subdomains Weekly. Returns the file/snapshot described by this
        operation.
      operationId: dbSubdomainsWeekly
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Subdomains Weekly
      tags:
      - Databases - Subdomains
    servers:
    - url: https://files.whoisfreaks.com
  /v3.2/download/dbupdate/monthly/subdomains:
    get:
      description: Subdomains Monthly. Returns the file/snapshot described by this
        operation.
      operationId: dbSubdomainsMonthly
      parameters:
      - description: yyyy-MM-dd; omit for latest
        explode: true
        in: query
        name: date
        required: false
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: Subdomains Monthly
      tags:
      - Databases - Subdomains
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/status/snapshot/ip/country:
    get:
      description: IP to Country Snapshot Status. Returns the file/snapshot described
        by this operation.
      operationId: dbIpCountryStatus
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP to Country Snapshot Status
      tags:
      - Databases - IP Geolocation
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/snapshot/ip/country:
    get:
      description: IP to Country Snapshot. Returns the file/snapshot described by
        this operation.
      operationId: dbIpCountry
      parameters:
      - explode: true
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: ZIP archive
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP to Country Snapshot
      tags:
      - Databases - IP Geolocation
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/status/snapshot/ip/city:
    get:
      description: IP to City Snapshot Status. Returns the file/snapshot described
        by this operation.
      operationId: dbIpCityStatus
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP to City Snapshot Status
      tags:
      - Databases - IP Geolocation
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/snapshot/ip/city:
    get:
      description: IP to City Snapshot. Returns the file/snapshot described by this
        operation.
      operationId: dbIpCity
      parameters:
      - explode: true
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: ZIP archive
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP to City Snapshot
      tags:
      - Databases - IP Geolocation
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/snapshot/asn/whois:
    get:
      description: ASN WHOIS Snapshot. Returns the file/snapshot described by this
        operation.
      operationId: dbAsnWhois
      parameters:
      - explode: true
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: JSON gzipped
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: ASN WHOIS Snapshot
      tags:
      - Databases - ASN WHOIS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/status/snapshot/asn/whois:
    get:
      description: ASN WHOIS Snapshot Status. Returns the file/snapshot described
        by this operation.
      operationId: dbAsnWhoisStatus
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: ASN WHOIS Snapshot Status
      tags:
      - Databases - ASN WHOIS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/snapshot/ip/whois:
    get:
      description: IP WHOIS Snapshot. Returns the file/snapshot described by this
        operation.
      operationId: dbIpWhois
      parameters:
      - explode: true
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: JSON gzipped
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP WHOIS Snapshot
      tags:
      - Databases - IP WHOIS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/status/snapshot/ip/whois:
    get:
      description: IP WHOIS Snapshot Status. Returns the file/snapshot described by
        this operation.
      operationId: dbIpWhoisStatus
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP WHOIS Snapshot Status
      tags:
      - Databases - IP WHOIS
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/download/snapshot/ip/security:
    get:
      description: IP Security Snapshot. Returns the file/snapshot described by this
        operation.
      operationId: dbIpSecurity
      parameters:
      - explode: true
        in: query
        name: date
        required: true
        schema:
          format: date
          type: string
        style: form
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: CSV
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP Security Snapshot
      tags:
      - Databases - IP Security
    servers:
    - url: https://files.whoisfreaks.com
  /v3.3/status/snapshot/ip/security:
    get:
      description: IP Security Snapshot Status. Returns the file/snapshot described
        by this operation.
      operationId: dbIpSecurityStatus
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotStatus'
          description: Successful response
        "4XX":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error response (4XX)
      summary: IP Security Snapshot Status
      tags:
      - Databases - IP Security
    servers:
    - url: https://files.whoisfreaks.com
  /v2.0/whois/history:
    get:
      operationId: whoisHistory
      parameters:
      - description: Domain to fetch historical WHOIS records for
        explode: true
        in: query
        name: domainName
        required: true
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhoisHistoricalResponse'
          description: Historical WHOIS records
      summary: Historical WHOIS records for a domain
      tags:
      - WHOIS
  /v2.0/whois/reverse:
    get:
      operationId: whoisReverse
      parameters:
      - description: Keyword to search across WHOIS records
        explode: true
        in: query
        name: keyword
        required: true
        schema:
          type: string
        style: form
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: format
        required: false
        schema:
          enum:
          - json
          - xml
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReverseWhoisResponse'
          description: Reverse WHOIS results (paginated)
      summary: Reverse WHOIS lookup by keyword
      tags:
      - WHOIS
components:
  parameters:
    Format:
      explode: true
      in: query
      name: format
      required: false
      schema:
        default: json
        enum:
        - json
        - xml
        type: string
      style: form
    DateParam:
      description: yyyy-MM-dd; omit for latest
      explode: true
      in: query
      name: date
      required: false
      schema:
        format: date
        type: string
      style: form
  responses:
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Invalid API key
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Not found
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad request
    RateLimited:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Too many requests
    ErrorResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Error response (4XX)
  schemas:
    RegistrarInformation:
      additionalProperties: true
      description: "Registrar details (used by domain_registrar, abuse_contact)."
      example:
        whois_server: whois_server
        registrar_name: registrar_name
        normalized_name: normalized_name
        handle: handle
        rdap_server: rdap_server
        is_sponsor: true
        registry_id: registry_id
        email_address: email_address
        website_url: website_url
        id_type: id_type
        phone_number: phone_number
        authoritative_registry_name: authoritative_registry_name
        id: id
        organization_number: organization_number
        iana_id: iana_id
        status: status
      properties:
        id:
          type: string
        id_type:
          type: string
        iana_id:
          type: string
        registry_id:
          type: string
        handle:
          type: string
        status:
          type: string
        registrar_name:
          type: string
        normalized_name:
          type: string
        whois_server:
          type: string
        rdap_server:
          type: string
        website_url:
          type: string
        email_address:
          type: string
        phone_number:
          type: string
        authoritative_registry_name:
          type: string
        organization_number:
          type: string
        is_sponsor:
          type: boolean
      type: object
    ResellerContact:
      additionalProperties: true
      example:
        email_address: email_address
        phone: phone
        name: name
      properties:
        name:
          type: string
        email_address:
          type: string
        phone:
          type: string
      type: object
    PersonalInformation:
      additionalProperties: true
      description: Contact block (registrant/administrative/technical/billing).
      example:
        city: city
        handle: handle
        zip_code: zip_code
        mailing_address: mailing_address
        country_code: country_code
        email_address: email_address
        phone: phone
        street: street
        name: name
        country_name: country_name
        id_type: id_type
        company: company
        id: id
        state: state
        fax: fax
      properties:
        id:
          type: string
        id_type:
          type: string
        handle:
          type: string
        name:
          type: string
        company:
          type: string
        street:
          type: string
        city:
          type: string
        state:
          type: string
        zip_code:
          type: string
        country_name:
          type: string
        country_code:
          type: string
        email_address:
          type: string
        phone:
          type: string
        fax:
          type: string
        mailing_address:
          type: string
      type: object
    EligibilityInfo:
      additionalProperties: true
      example:
        name: name
        id: id
        type: type
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
      type: object
    RegistryData:
      additionalProperties: true
      example:
        domain_name: domain_name
        domain_status:
        - domain_status
        - domain_status
        whois_server: whois_server
        whois_raw_domain: whois_raw_domain
        domain_registered: domain_registered
        expiry_date: expiry_date
        name_servers:
        - name_servers
        - name_servers
        create_date: create_date
        domain_registrar:
          whois_server: whois_server
          registrar_name: registrar_name
          normalized_name: normalized_name
          handle: handle
          rdap_server: rdap_server
          is_sponsor: true
          registry_id: registry_id
          email_address: email_address
          website_url: website_url
          id_type: id_type
          phone_number: phone_number
          authoritative_registry_name: authoritative_registry_name
          id: id
          organization_number: organization_number
          iana_id: iana_id
          status: status
        query_time: query_time
        update_date: update_date
      properties:
        domain_name:
          type: string
        query_time:
          type: string
        whois_server:
          type: string
        domain_registered:
          type: string
        create_date:
          type: string
        update_date:
          type: string
        expiry_date:
          type: string
        domain_registrar:
          $ref: '#/components/schemas/RegistrarInformation'
        name_servers:
          items:
            type: string
          type: array
        domain_status:
          items:
            type: string
          type: array
        whois_raw_domain:
          type: string
      type: object
    WhoisResponse:
      additionalProperties: true
      description: Live WHOIS lookup response (DomainInfo).
      example:
        whois_server: whois_server
        whois_raw_domain: whois_raw_domain
        billing_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        expiry_date: expiry_date
        eligibility_info:
          name: name
          id: id
          type: type
        registrant_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        name_servers:
        - name_servers
        - name_servers
        domain_registrar:
          whois_server: whois_server
          registrar_name: registrar_name
          normalized_name: normalized_name
          handle: handle
          rdap_server: rdap_server
          is_sponsor: true
          registry_id: registry_id
          email_address: email_address
          website_url: website_url
          id_type: id_type
          phone_number: phone_number
          authoritative_registry_name: authoritative_registry_name
          id: id
          organization_number: organization_number
          iana_id: iana_id
          status: status
        reseller_contact:
          email_address: email_address
          phone: phone
          name: name
        domain_handle: domain_handle
        secure_dns: true
        update_date: update_date
        registry_data:
          domain_name: domain_name
          domain_status:
          - domain_status
          - domain_status
          whois_server: whois_server
          whois_raw_domain: whois_raw_domain
          domain_registered: domain_registered
          expiry_date: expiry_date
          name_servers:
          - name_servers
          - name_servers
          create_date: create_date
          domain_registrar:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          query_time: query_time
          update_date: update_date
        domain_name: domain_name
        technical_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        domain_status:
        - domain_status
        - domain_status
        administrative_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        domain_registered: domain_registered
        abuse_contact:
          whois_server: whois_server
          registrar_name: registrar_name
          normalized_name: normalized_name
          handle: handle
          rdap_server: rdap_server
          is_sponsor: true
          registry_id: registry_id
          email_address: email_address
          website_url: website_url
          id_type: id_type
          phone_number: phone_number
          authoritative_registry_name: authoritative_registry_name
          id: id
          organization_number: organization_number
          iana_id: iana_id
          status: status
        create_date: create_date
        query_time: query_time
        status: true
      properties:
        status:
          type: boolean
        domain_name:
          type: string
        query_time:
          type: string
        whois_server:
          type: string
        domain_registered:
          type: string
        secure_dns:
          type: boolean
        domain_handle:
          type: string
        create_date:
          type: string
        update_date:
          type: string
        expiry_date:
          type: string
        domain_registrar:
          $ref: '#/components/schemas/RegistrarInformation'
        reseller_contact:
          $ref: '#/components/schemas/ResellerContact'
        registrant_contact:
          $ref: '#/components/schemas/PersonalInformation'
        administrative_contact:
          $ref: '#/components/schemas/PersonalInformation'
        technical_contact:
          $ref: '#/components/schemas/PersonalInformation'
        billing_contact:
          $ref: '#/components/schemas/PersonalInformation'
        eligibility_info:
          $ref: '#/components/schemas/EligibilityInfo'
        abuse_contact:
          $ref: '#/components/schemas/RegistrarInformation'
        name_servers:
          items:
            type: string
          type: array
        domain_status:
          items:
            type: string
          type: array
        whois_raw_domain:
          type: string
        registry_data:
          $ref: '#/components/schemas/RegistryData'
      type: object
    WhoisHistoricalItem:
      additionalProperties: true
      example:
        whois_server: whois_server
        whois_raw_domain: whois_raw_domain
        billing_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        num: 0
        expiry_date: expiry_date
        eligibility_info:
          name: name
          id: id
          type: type
        registrant_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        name_servers:
        - name_servers
        - name_servers
        domain_registrar:
          whois_server: whois_server
          registrar_name: registrar_name
          normalized_name: normalized_name
          handle: handle
          rdap_server: rdap_server
          is_sponsor: true
          registry_id: registry_id
          email_address: email_address
          website_url: website_url
          id_type: id_type
          phone_number: phone_number
          authoritative_registry_name: authoritative_registry_name
          id: id
          organization_number: organization_number
          iana_id: iana_id
          status: status
        reseller_contact:
          email_address: email_address
          phone: phone
          name: name
        domain_handle: domain_handle
        secure_dns: true
        update_date: update_date
        registry_data:
          domain_name: domain_name
          domain_status:
          - domain_status
          - domain_status
          whois_server: whois_server
          whois_raw_domain: whois_raw_domain
          domain_registered: domain_registered
          expiry_date: expiry_date
          name_servers:
          - name_servers
          - name_servers
          create_date: create_date
          domain_registrar:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          query_time: query_time
          update_date: update_date
        domain_name: domain_name
        technical_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        domain_status:
        - domain_status
        - domain_status
        administrative_contact:
          city: city
          handle: handle
          zip_code: zip_code
          mailing_address: mailing_address
          country_code: country_code
          email_address: email_address
          phone: phone
          street: street
          name: name
          country_name: country_name
          id_type: id_type
          company: company
          id: id
          state: state
          fax: fax
        domain_registered: domain_registered
        abuse_contact:
          whois_server: whois_server
          registrar_name: registrar_name
          normalized_name: normalized_name
          handle: handle
          rdap_server: rdap_server
          is_sponsor: true
          registry_id: registry_id
          email_address: email_address
          website_url: website_url
          id_type: id_type
          phone_number: phone_number
          authoritative_registry_name: authoritative_registry_name
          id: id
          organization_number: organization_number
          iana_id: iana_id
          status: status
        create_date: create_date
        query_time: query_time
        status: true
      properties:
        num:
          type: integer
        status:
          type: boolean
        domain_name:
          type: string
        query_time:
          type: string
        whois_server:
          type: string
        domain_registered:
          type: string
        secure_dns:
          type: boolean
        domain_handle:
          type: string
        create_date:
          type: string
        update_date:
          type: string
        expiry_date:
          type: string
        domain_registrar:
          $ref: '#/components/schemas/RegistrarInformation'
        reseller_contact:
          $ref: '#/components/schemas/ResellerContact'
        registrant_contact:
          $ref: '#/components/schemas/PersonalInformation'
        administrative_contact:
          $ref: '#/components/schemas/PersonalInformation'
        technical_contact:
          $ref: '#/components/schemas/PersonalInformation'
        billing_contact:
          $ref: '#/components/schemas/PersonalInformation'
        eligibility_info:
          $ref: '#/components/schemas/EligibilityInfo'
        abuse_contact:
          $ref: '#/components/schemas/RegistrarInformation'
        name_servers:
          items:
            type: string
          type: array
        domain_status:
          items:
            type: string
          type: array
        whois_raw_domain:
          type: string
        registry_data:
          $ref: '#/components/schemas/RegistryData'
      type: object
    WhoisHistoricalResponse:
      additionalProperties: true
      example:
        whois: whois
        total_records: total_records
        whois_domains_historical:
        - whois_server: whois_server
          whois_raw_domain: whois_raw_domain
          billing_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          num: 0
          expiry_date: expiry_date
          eligibility_info:
            name: name
            id: id
            type: type
          registrant_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          name_servers:
          - name_servers
          - name_servers
          domain_registrar:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          reseller_contact:
            email_address: email_address
            phone: phone
            name: name
          domain_handle: domain_handle
          secure_dns: true
          update_date: update_date
          registry_data:
            domain_name: domain_name
            domain_status:
            - domain_status
            - domain_status
            whois_server: whois_server
            whois_raw_domain: whois_raw_domain
            domain_registered: domain_registered
            expiry_date: expiry_date
            name_servers:
            - name_servers
            - name_servers
            create_date: create_date
            domain_registrar:
              whois_server: whois_server
              registrar_name: registrar_name
              normalized_name: normalized_name
              handle: handle
              rdap_server: rdap_server
              is_sponsor: true
              registry_id: registry_id
              email_address: email_address
              website_url: website_url
              id_type: id_type
              phone_number: phone_number
              authoritative_registry_name: authoritative_registry_name
              id: id
              organization_number: organization_number
              iana_id: iana_id
              status: status
            query_time: query_time
            update_date: update_date
          domain_name: domain_name
          technical_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_status:
          - domain_status
          - domain_status
          administrative_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_registered: domain_registered
          abuse_contact:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          create_date: create_date
          query_time: query_time
          status: true
        - whois_server: whois_server
          whois_raw_domain: whois_raw_domain
          billing_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          num: 0
          expiry_date: expiry_date
          eligibility_info:
            name: name
            id: id
            type: type
          registrant_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          name_servers:
          - name_servers
          - name_servers
          domain_registrar:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          reseller_contact:
            email_address: email_address
            phone: phone
            name: name
          domain_handle: domain_handle
          secure_dns: true
          update_date: update_date
          registry_data:
            domain_name: domain_name
            domain_status:
            - domain_status
            - domain_status
            whois_server: whois_server
            whois_raw_domain: whois_raw_domain
            domain_registered: domain_registered
            expiry_date: expiry_date
            name_servers:
            - name_servers
            - name_servers
            create_date: create_date
            domain_registrar:
              whois_server: whois_server
              registrar_name: registrar_name
              normalized_name: normalized_name
              handle: handle
              rdap_server: rdap_server
              is_sponsor: true
              registry_id: registry_id
              email_address: email_address
              website_url: website_url
              id_type: id_type
              phone_number: phone_number
              authoritative_registry_name: authoritative_registry_name
              id: id
              organization_number: organization_number
              iana_id: iana_id
              status: status
            query_time: query_time
            update_date: update_date
          domain_name: domain_name
          technical_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_status:
          - domain_status
          - domain_status
          administrative_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_registered: domain_registered
          abuse_contact:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          create_date: create_date
          query_time: query_time
          status: true
        status: true
      properties:
        status:
          type: boolean
        whois:
          type: string
        total_records:
          type: string
        whois_domains_historical:
          items:
            $ref: '#/components/schemas/WhoisHistoricalItem'
          type: array
      type: object
    ReverseWhoisResponse:
      additionalProperties: true
      description: Reverse WHOIS response. Pagination keys are capitalized (Total_Result/Total_Pages/Current_Page)
        as returned by the API.
      example:
        Total_Pages: 6
        Total_Result: 0
        whois_domains_historical:
        - whois_server: whois_server
          whois_raw_domain: whois_raw_domain
          billing_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          num: 0
          expiry_date: expiry_date
          eligibility_info:
            name: name
            id: id
            type: type
          registrant_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          name_servers:
          - name_servers
          - name_servers
          domain_registrar:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          reseller_contact:
            email_address: email_address
            phone: phone
            name: name
          domain_handle: domain_handle
          secure_dns: true
          update_date: update_date
          registry_data:
            domain_name: domain_name
            domain_status:
            - domain_status
            - domain_status
            whois_server: whois_server
            whois_raw_domain: whois_raw_domain
            domain_registered: domain_registered
            expiry_date: expiry_date
            name_servers:
            - name_servers
            - name_servers
            create_date: create_date
            domain_registrar:
              whois_server: whois_server
              registrar_name: registrar_name
              normalized_name: normalized_name
              handle: handle
              rdap_server: rdap_server
              is_sponsor: true
              registry_id: registry_id
              email_address: email_address
              website_url: website_url
              id_type: id_type
              phone_number: phone_number
              authoritative_registry_name: authoritative_registry_name
              id: id
              organization_number: organization_number
              iana_id: iana_id
              status: status
            query_time: query_time
            update_date: update_date
          domain_name: domain_name
          technical_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_status:
          - domain_status
          - domain_status
          administrative_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_registered: domain_registered
          abuse_contact:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          create_date: create_date
          query_time: query_time
          status: true
        - whois_server: whois_server
          whois_raw_domain: whois_raw_domain
          billing_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          num: 0
          expiry_date: expiry_date
          eligibility_info:
            name: name
            id: id
            type: type
          registrant_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          name_servers:
          - name_servers
          - name_servers
          domain_registrar:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          reseller_contact:
            email_address: email_address
            phone: phone
            name: name
          domain_handle: domain_handle
          secure_dns: true
          update_date: update_date
          registry_data:
            domain_name: domain_name
            domain_status:
            - domain_status
            - domain_status
            whois_server: whois_server
            whois_raw_domain: whois_raw_domain
            domain_registered: domain_registered
            expiry_date: expiry_date
            name_servers:
            - name_servers
            - name_servers
            create_date: create_date
            domain_registrar:
              whois_server: whois_server
              registrar_name: registrar_name
              normalized_name: normalized_name
              handle: handle
              rdap_server: rdap_server
              is_sponsor: true
              registry_id: registry_id
              email_address: email_address
              website_url: website_url
              id_type: id_type
              phone_number: phone_number
              authoritative_registry_name: authoritative_registry_name
              id: id
              organization_number: organization_number
              iana_id: iana_id
              status: status
            query_time: query_time
            update_date: update_date
          domain_name: domain_name
          technical_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_status:
          - domain_status
          - domain_status
          administrative_contact:
            city: city
            handle: handle
            zip_code: zip_code
            mailing_address: mailing_address
            country_code: country_code
            email_address: email_address
            phone: phone
            street: street
            name: name
            country_name: country_name
            id_type: id_type
            company: company
            id: id
            state: state
            fax: fax
          domain_registered: domain_registered
          abuse_contact:
            whois_server: whois_server
            registrar_name: registrar_name
            normalized_name: normalized_name
            handle: handle
            rdap_server: rdap_server
            is_sponsor: true
            registry_id: registry_id
            email_address: email_address
            website_url: website_url
            id_type: id_type
            phone_number: phone_number
            authoritative_registry_name: authoritative_registry_name
            id: id
            organization_number: organization_number
            iana_id: iana_id
            status: status
          create_date: create_date
          query_time: query_time
          status: true
        Current_Page: 1
      properties:
        Total_Result:
          type: integer
        Total_Pages:
          type: integer
        Current_Page:
          type: integer
        whois_domains_historical:
          items:
            $ref: '#/components/schemas/WhoisHistoricalItem'
          type: array
      type: object
    BulkWhoisItem:
      additionalProperties: true
      description: One bulk WHOIS result; success items also carry all WhoisResponse
        fields.
      example:
        domain_name: domain_name
        error: error
        status: true
      properties:
        status:
          type: boolean
        domain_name:
          type: string
        error:
          type: string
      type: object
    BulkWhoisResponse:
      additionalProperties: true
      example:
        bulk_whois_response:
        - domain_name: domain_name
          error: error
          status: true
        - domain_name: domain_name
          error: error
          status: true
      properties:
        bulk_whois_response:
          items:
            $ref: '#/components/schemas/BulkWhoisItem'
          type: array
      type: object
    DnsRecord:
      additionalProperties: true
      description: Union of all DNS record variants (A/AAAA/MX/NS/CNAME/PTR/TXT/SPF/SOA).
      example:
        address: address
[...]
